#
# MongoDB GridFS -> Amazon S3 backup / restore script configuration
#

---

# Backup lock file (must be writable)
backup_lock_file		: "gridfs-to-s3-backup.lock"

# Restore lock file (must be writable)
restore_lock_file		: "gridfs-to-s3-restore.last"

# File with the last backed up filename
file_with_last_backed_up_filename	: "gridfs-to-s3-backup.last"

# File with the last restored filename
file_with_last_restored_filename	: "gridfs-to-s3-restore.last"

# MongoDB GridFS connection settings
mongodb_gridfs:
    host		: "localhost" 
    port		: "27017" 
    database	: "my_files"

# Amazon S3 connection settings
amazon_s3:
    access_key_id			: "AKIAIOSFODNN7EXAMPLE"
    secret_access_key   	: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY"
    bucket_name             : "backup-gridfs"
    downloads_folder_name   : "backup"	# May be empty
